@font-face {
    font-family: Cormorant;
    font-weight: 700;
    src: local("Cormorant"), url("Cormorant-Bold"),
    url("../fonts/cormorant-v11-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/cormorant-v11-latin_cyrillic-700.woff") format("woff");
    font-display: swap;
}

:root {
    --main-color: #fff;
    --second-color:  #262626;
    --green-one-color: #00654E;
    --green-two-color: #006E55;
    --green-three-color: #005844;
    --main-bg-color: #005844;
    --second-bg-color: #C0B487;
    --trigger-color:#E6AB39;
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: var(--main-color);
} 

h1, h2 {
    font-family: Cormorant, serif;
    font-size: 70px;
    font-weight: 700;
    color: var(--main-color);
    letter-spacing: 0.01em;
    line-height: 100%;
}

.container {
    max-width: 1290px;
    margin:0 auto;
}

.hide {
    display: hide;
}

a {
    color:inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, input {
    font: inherit;
}

button {
    cursor: pointer;
}}