.features {
    background-color: var(--second-bg-color);
    padding: 40px 0;
    color: var(--main-color);
}

.features__list {
    display: flex; 
    gap: 25px;
    justify-content: space-between;
}

.features__item {
    flex-basis: 236px;
    padding-top: 115px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.04em;
    background-position: center top;
    background-repeat: no-repeat;
}

.features__item-one {
    background-image: var(--url-features-one);
}

.features__item-two {
    background-image: var(--url-features-two);
}

.features__item-three {
    background-image: var(--url-features-three);
}

.features__item-four {
    background-image: var(--url-features-four);
    background-size: 100px;
}
